.projectsContainer {
  position: relative;
  /* padding: 3rem 8rem; */
  min-height: auto;
}

.scrollContainer {
  overflow-x: auto;
  overflow-y: hidden;
  display: flex;
  scroll-behavior: smooth;
  overscroll-behavior-x: contain;
}

.scrollContainer::-webkit-scrollbar {
  display: none;
}

.projectsGrid {
  display: flex;
  gap: 2rem;
  flex-shrink: 0;
  flex: 0 0 100%;
  justify-content: center;
  margin: 1rem auto 3rem;
}

.column {
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

.centerColumn {
  margin-top: 3rem;
}

.monitorWrapper {
  position: relative;
  width: 26.5rem;
  perspective: 50rem;
}

.monitorContent {
  position: relative;
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
}

.monitorFrame {
  width: 100%;
  display: block;
}

.projectInside {
  position: absolute;
  top: 3%;
  left: 3%;
  width: 94%;
  height: 94%;
  border-radius: 8px;
  object-fit: fill;
  transition: filter 0.3s ease;
}

.monitorContent:hover .projectInside {
  filter: brightness(1.1) saturate(1.2);
}

.pagination {
  display: flex;
  justify-content: center;
  gap: 0.4rem;
}

.dot {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  cursor: pointer;
  transition: transform 0.2s ease;
  padding: 0;
}

.dot:hover,
.activeDot {
  transform: scale(1.5);
}

.carouselContainer {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  min-height: 13rem;
}

.carouselItem {
  position: absolute;
  cursor: grab;
}

@media screen and (max-width: 600px) {
  .monitorWrapper {
    width: 15rem;
  }
}

@media screen and (min-width: 601px) and (max-width: 1024px) {
  .projectsContainer {
    padding: 4rem 3rem;
  }

  .monitorWrapper {
    width: 18rem;
  }
  .carouselContainer {
    min-height: 18rem;
  }
}
@media screen and (min-width: 1025px) and (max-width: 1440px) {
  .monitorWrapper {
    width: 18rem;
  }

  .centerColumn {
    margin-top: 2rem;
  }

  .projectsGrid {
    margin: 1rem auto 5rem;
  }
}
