.card {
  background: rgba(255, 255, 255, 0.1);
  border-radius: 16px;

  min-height: 20px;
  padding: 24px;
  text-align: left;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  transition: transform 0.3s cubic-bezier(0.25, 0.8, 0.25, 1), box-shadow 0.3s;
}

.title {
  font-family: "Inter", sans-serif;
  font-size: 2rem;
  font-weight: 700;
  color: #7de130;
  margin: 0;
  text-align: center;
}

.subtitle {
  color: var(--secondary-color);
  font-family: Inter;
  text-align: center;
  font-size: 1rem;
  font-style: italic;
  margin: 0;
  padding-top: 0.5rem;
}

.description {
  color: var(--primary-color);
  font-size: 1.1rem;
  line-height: 1.5;
}

.card:hover {
  animation: sway 1s ease-in-out forwards;
}

@keyframes sway {
  0% {
    transform: rotate(-3deg);
  }
  25% {
    transform: rotate(3deg);
  }
  50% {
    transform: rotate(-3deg);
  }
  75% {
    transform: rotate(3deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

@media screen and (max-width: 993px) {
  .card {
    width: 100%;
  }
}

@media screen and (max-width: 600px) {
  .description {
    text-align: start;
  }
}

@media screen and (max-width: 430px) {
  .card {
    padding: 1rem;
  }
  .title {
    font-size: 22px;
    margin-bottom: 0.3rem;
  }

  .subtitle {
    font-size: 0.8rem;
    margin: 0;
    padding-top: 0.3rem;
  }

  .description {
    font-size: 1rem;
    line-height: 1.1;
  }
}
