.mainButton {
  width: 208px;
  height: 54px;

  border-radius: 15px;
  padding-top: 15px;
  padding-right: 52px;
  padding-bottom: 15px;
  padding-left: 52px;
  gap: 10px;
  background: linear-gradient(90deg, #12afef 0%, #7de130 100%);
  font-family: Inter;
  font-weight: 600;
  font-size: 20px;
  line-height: 100%;
  letter-spacing: 0%;
}
