.card {
  background: rgba(60, 60, 60, 0.7);
  border-radius: 16px;
  backdrop-filter: blur(4px);
  border-radius: 15px;
  background: #ffffff26;
  opacity: 1;

 width: 100%;
  min-height: 220px;
  padding: 24px;

  color: #fff;
  text-align: left;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;

  transition: transform 0.3s cubic-bezier(.25,.8,.25,1),
              box-shadow 0.3s;
}

.title {
  font-family: 'Inter', sans-serif;
  font-size: 32px;
  font-weight: 700;
  color: #7de130;
  margin-bottom: 12px;
  text-align: center;

}

.subtitle {
  color: #ffff;
  font-family: Inter;
  font-style: semi-bold;
  font-weight: 500;
  text-align: center;
  font-size: 18px;
  font-style: italic;
}

.description {
  font-family: Inter;
  font-weight: 700;
  color: #75bee7;
  font-size: 17px;
  line-height: 1.5;
  text-align: justify;
}

.card:hover {
  animation: sway 1s ease-in-out forwards;
}

@keyframes sway {
  0% {
    transform: rotate(-3deg);
  }
  25% {
    transform: rotate(3deg);
  }
  50% {
    transform: rotate(-3deg);
  }
  75% {
    transform: rotate(3deg);
  }
  100% {
    transform: rotate(0deg);
  }
}