.errorPage {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  height: 80dvh;
}

.errorContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
}

.errorContainer p {
  font-size: 12rem;
  color: var(--primary-color);
  padding-top: 0;
  padding-bottom: 0;
}

.errorDescription {
  text-align: center;
  font-size: 1.5rem;
  padding: 0;
}

.errorButton {
  margin-top: 2rem;
}

.errorImg {
  width: 150px;
  margin-top: 3rem;
}

.spacemanLeft {
  position: absolute;
  animation: moveAround 30s ease-in-out infinite;
  z-index: -1;
}

.spacemanRight {
  position: absolute;
  animation: moveAroundBottom 30s ease-in-out infinite;
  z-index: -1;
}

@keyframes moveAround {
  0% {
    top: 5%;
    left: 3%;
  }

  25% {
    top: 10%;
    left: 10%;
  }

  50% {
    top: 150px;
    left: 20%;
  }

  75% {
    top: 80px;
    left: 25%;
  }

  100% {
    top: 50px;
    left: 50px;
  }
}

@keyframes moveAroundBottom {
  0% {
    bottom: 5%;
    right: 3%;
  }

  25% {
    bottom: 10%;
    right: 10%;
  }

  50% {
    bottom: 150px;
    right: 20%;
  }

  75% {
    bottom: 80px;
    right: 25%;
  }

  100% {
    bottom: 50px;
    right: 50px;
  }
}

@media screen and (max-width: 600px) {
  .errorPage {
    height: 90vh;
    justify-content: center;
  }
  .errorContainer p {
    padding: 0;
    font-size: 8rem;
  }

  .errorDescription {
    font-size: 1rem;
  }
}
