.languageSwitcher {
  position: relative;
  display: flex;
  align-items: center;
}

.iconWrapper {
  all: unset;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 2.2rem;
  height: 2.2rem;
  border-radius: 50%;
  background: linear-gradient(135deg, #12afef, #7de130);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.25);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.iconWrapper:hover {
  transform: scale(1.1) rotate(180deg);
  box-shadow: 0 6px 15px rgba(0, 0, 0, 0.35);
}

.globeIcon {
  font-size: 1.5rem;
  color: black;
}

.dropdown {
  position: absolute;
  top: 120%;
  left: 50%;
  transform: translateX(-50%);
  border: 2px solid #12afef;
  border-radius: 0.5rem;
  display: flex;
  flex-direction: column;
  z-index: 99999;
  min-width: 3rem;
  background: transparent;
}

.dropdownItem {
  cursor: pointer;
  padding: 0.3rem;
  display: flex;
  justify-content: center;
  transition: transform 0.2s ease;
}

.dropdownItem:hover {
  transform: translateY(-2px) scale(1.1);
}

.dropdownFlag {
  width: 1.7rem;
  height: auto;
  border-radius: 3px;
  border: 2px solid #12afef;
}
