/* .chatContainer {
  width: 100%;
  max-width: 500px;
  margin: 0 auto;
  border: 1px solid #ddd;
  border-radius: 12px;
  padding: 0;
  background: #ffffff;
  box-shadow: 0 12px 32px rgba(0, 0, 0, 0.3);
  font-family: "Segoe UI", sans-serif;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  position: relative;
}

.chatHeader {
  background-color: #2366a9;
  padding: 12px 16px;
  font-weight: bold;
  border-bottom: 1px solid #ddd;
  color: #ccc;
}

.chatBox {
  display: flex;
  flex-direction: column;
  height: 300px;
  overflow-y: auto;
  border: 1px solid #eee;
  background-color: #fafafa;
  padding: 10px;
  margin-bottom: 10px;
  scroll-behavior: smooth;
}

.message {
  margin: 8px 0;
  max-width: 80%;
  padding: 8px 12px;
  border-radius: 16px;
  color: #333;
  display: inline-block;
  word-wrap: break-word;
}

.message.user {
  background-color: #1c1c1c;
  color: #fff8f8;
  align-self: flex-end;
  text-align: right;
}

.message.bot {
  background-color: #1c1c1c;
  color: #fff8f8;
  align-self: flex-start;
  text-align: left;
}

.inputArea {
  display: flex;
  padding: 12px;
  border-top: 1px solid #ddd;
  background-color: #f9f9f9;
}

.inputArea input {
  flex: 1;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 8px;
  font-size: 1rem;
}

.inputArea button {
  margin-left: 8px;
  padding: 10px 16px;
  background-color: #0077cc;
  color: white;
  border: none;
  border-radius: 8px;
  font-weight: bold;
  cursor: pointer;
}

.inputArea button:hover {
  background-color: #005fa3;
}

input {
  flex: 1;
  padding: 8px;
}

button {
  padding: 8px 12px;
  background: linear-gradient(90deg, #12afef 45%, #7de130 55%);

  color: white;
  border: none;
  border-radius: 4px;
}

button:hover {
  background-color: #005fa3;
}

img:hover {
  transform: scale(1.05);
  transition: transform 0.2s ease;
}

.closeButton {
  float: right;
  background: none;
  border: none;
  font-size: 1.2rem;
  cursor: pointer;
  color: #060606;
}

@media (max-width: 480px) {
  .chatContainer {
    max-width: 100%;
    margin: 10px;
    padding: 8px;
  }

  .chatBox {
    height: 250px;
  }

  input {
    font-size: 0.9rem;
  }

  button {
    font-size: 0.9rem;
  }
} */
