.card {
  background: rgba(255, 255, 255, 0.04);
  color: var(--primary-color);
  padding: 1.5rem;
  border-radius: 1rem;
  /* flex: 1; */
  /* width: 18rem; */
  height: 500px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.4);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 18rem;
}

.category {
  opacity: 0.75;
  color: var(--secondary-color);
  font-size: 0.9rem;
  font-weight: 600;
  border-radius: 1rem;
  padding: 0;
}

.title {
  font-size: 2.5rem;
  font-weight: 600;
  margin-bottom: 1rem;
  margin-top: 1rem;
  text-align: center;
  color: var(--secondary-color);
  display: block;
}

.features {
  font-size: 1rem;
  font-weight: 600;
  padding-left: 1.2rem;
  margin: 0;
  color: var(--primary-color);
  text-align: start;
  line-height: 1.5rem;
}

.price {
  font-size: 1.5rem;
  font-weight: 700;
  margin-top: 1rem;
  margin-bottom: 1rem;
  text-align: center;
  color: var(--secondary-color);
  text-align: right;
}

.button {
  display: flex;
  justify-content: center;
}
@media screen and (max-width: 1440px) {
  .card {
    width: 15rem;
  }
}

@media screen and (max-width: 1200px) {
  .card {
    width: 20rem;
  }
}

@media screen and (max-width: 800px) {
  .card {
    width: 14rem;
  }
}

@media screen and (max-width: 600px) {
  .card {
    min-width: 19rem;
  }
}

@media screen and (max-width: 430px) {
  .card {
    flex: 1;
    min-height: 25rem;
    min-width: 12rem;
    margin: 0 1rem;
  }
  .category {
    font-size: 0.8rem;
  }

  .title {
    margin: 1rem 0;
  }

  .features {
    font-size: 1rem;
    margin: 0;
  }

  .price {
    font-size: 1.4rem;
    text-align: right;
    margin: 1rem 0;
  }
}
