.modal {
  position: fixed;
  top: 10vh;
  left: 0;
  right: 0;
  bottom: 0;
  background: #121212e4;
  backdrop-filter: blur(10px);
  z-index: 2000;
  height: 95vh;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 5000;
}
