.navList {
  list-style: none;
  text-decoration: none;
  padding: 0 40px 0 0;
  margin: 0;
  display: flex;
  align-items: center;
  gap: 50px;
}

.navList li a {
  text-decoration: none;
  color: #fffafa;
  font-family: Inter;
  font-weight: 600;
  font-style: Semi Bold;
  font-size: 22px;
  position: relative;
  line-height: 100%;
  letter-spacing: 0%;
}

.navList li a:hover {
  background: var(--background-gradient);
  background-clip: text;
  color: transparent;
  transition: 0.3s ease-in-out;
}

.navList li a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -5px;
  width: 100%;
  height: 3px;
  background: var(--background-gradient);
  transform: scaleX(0);
  transform-origin: right;
  transition: transform 0.3s ease-in-out;
}

.navList li a:hover::after {
  transform: scaleX(1);
  transform-origin: left;
}

.logo {
  height: 50px;
  width: auto;
  padding-left: 40px;
}

.logoLogo {
  height: 4rem;
  width: 15rem;
  padding-left: 1.5rem;
}
