.hero {
  display: flex;
  flex: 1;
  gap: 16px;
  background-color: transparent;
  height: 90vh;
  min-height: fit-content;
  align-items: center;
  justify-content: center;
  padding: 0;
}

.heroLeftContent {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  width: 60vw;
  height: 100%;
}

.secondTitle {
  font-size: 75px;
  line-height: 85px;
}

.titleSeparator {
  font-size: 75px;
}

.description {
  color: #12afef;
  text-align: center;
  font-size: 1.2rem;
  margin-top: 10px;
  margin-bottom: 10px;
  line-height: 30px;
  letter-spacing: 3%;
}

.textContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 50vw;
}

.HeroImageContainer {
  align-self: flex-end;
  text-align: right;
  width: 40vw;
  position: relative;
}

.heroImage {
  width: 100%;
  height: auto;
}

.reactImg {
  position: absolute;
  animation: firstFloat 10s infinite;
  width: 50px;
}

.cssImg {
  position: absolute;
  width: 50px;
  animation: firstFloatLeft 10s infinite;
}

.wordpressImg {
  position: absolute;
  width: 50px;
  animation: floatRight 10s ease-in-out infinite;
}

.nodeImg {
  position: absolute;
  width: 50px;

  animation: floatFromBottomRight 10s ease-in-out infinite;
}

.HeroImageContainer img:hover {
  transform: none;
}

.heroCardsContainer {
  display: flex;
  flex-wrap: wrap;

  gap: 16px;
  margin-top: 40px;
  align-items: center;
  justify-content: center;
  margin-bottom: 150px;
}

.jsImg {
  position: absolute;
  width: 50px;

  animation: floatFromBottomLeft 10s ease-in-out infinite;
}

.tailwindImg {
  position: absolute;
  width: 50px;
  animation: floatMiddleRight 10s ease-in-out infinite;
  opacity: 0.8;
}

@keyframes floatMiddleRight {
  0% {
    bottom: 50%;
    right: 44%;
  }
  20% {
    bottom: 51%;
    right: 45%;
  }
  40% {
    bottom: 50.5%;
    right: 43.8%;
  }
  60% {
    bottom: 51.2%;
    right: 44.2%;
  }
  80% {
    bottom: 50.8%;
    right: 43.9%;
  }
  100% {
    bottom: 50%;
    right: 44%;
  }
}
@keyframes floatFromBottomLeft {
  0% {
    bottom: 20%;
    left: 12%;
  }
  20% {
    bottom: 21%;
    left: 13%;
  }
  40% {
    bottom: 20.5%;
    left: 11.5%;
  }
  60% {
    bottom: 21.2%;
    left: 12.2%;
  }
  80% {
    bottom: 20.8%;
    left: 11.8%;
  }
  100% {
    bottom: 20%;
    left: 12%;
  }
}

@keyframes floatFromBottomRight {
  0% {
    bottom: 20%;
    right: 35%;
  }
  20% {
    bottom: 21%;
    right: 36%;
  }
  40% {
    bottom: 20.5%;
    right: 34.5%;
  }
  60% {
    bottom: 21.2%;
    right: 35.2%;
  }
  80% {
    bottom: 20.8%;
    right: 34.8%;
  }
  100% {
    bottom: 20%;
    right: 35%;
  }
}

@keyframes firstFloat {
  0% {
    top: 15%;
    right: 20%;
  }
  25% {
    top: 17%;
    right: 23%;
  }
  50% {
    top: 20%;
    right: 25%;
  }
  75% {
    top: 18%;
    right: 22%;
  }
  100% {
    top: 15%;
    right: 20%;
  }
}

@keyframes firstFloatLeft {
  0% {
    top: 5%;
    left: 3%;
  }
  20% {
    top: 6%;
    left: 4%;
  }
  40% {
    top: 5.5%;
    left: 5%;
  }
  60% {
    top: 6.2%;
    left: 4.2%;
  }
  80% {
    top: 5.8%;
    left: 4.5%;
  }
  100% {
    top: 5%;
    left: 3%;
  }
}

@keyframes floatRight {
  0% {
    top: 15%;
    right: 60%;
  }
  20% {
    top: 16%;
    right: 58%;
  }
  40% {
    top: 15.5%;
    right: 59%;
  }
  60% {
    top: 16.2%;
    right: 57.8%;
  }
  80% {
    top: 15.8%;
    right: 58.5%;
  }
  100% {
    top: 15%;
    right: 60%;
  }
}

@media screen and (max-width: 1200px) {
  .hero {
    flex-direction: column;
    justify-content: space-between;
  }
  .heroLeftContent {
    width: 100vw;
    min-height: fit-content;
  }

  .textContainer {
    width: 90vw;
  }

  .HeroImageContainer {
    width: 70%;
    text-align: center;
    align-self: center;
  }

  .heroImage {
    width: 80%;
    margin: 0 auto;
  }

  .heroCardsContainer {
    margin-bottom: 40px;
  }
}

@media screen and (max-width: 768px) {
  .titleSeparator {
    display: block;
  }

   .HeroImageContainer {
    width: 80%;
   }

  .description {
    font-size: 22px;
  }
}

@media screen and (max-width: 430px) {
  .hero {
    justify-content: center;
  }

  .heroLeftContent {
    height: 100dvh;
  }

  .HeroImageContainer {
    height: auto;
  }
  .heroCardsContainer {
    gap: 5px;
    margin: 0 0 5rem 0;
  }

  .heroImage {
    width: 80%;
  }

  .description {
    font-size: 16px;
    line-height: 20px;
    margin-bottom: 0;
  }

  .secondTitle {
    font-size: 40px;
    line-height: 3rem;
  }

  .reactImg,
  .cssImg,
  .wordpressImg,
  .nodeImg,
  .jsImg,
  .tailwindImg {
    width: 30px;
    opacity: 0.9;
  }
}
