:root {
  --primary-color: #12afef;
  --secondary-color: #7de130;
  --background-gradient: conic-gradient(
    from 30.84deg at 43.8% 43.68%,
    #7de130 0deg,
    #12afef 224.99deg,
    #7de130 360deg
  );
}
html {
  overflow-x: hidden;
}
section,
div {
  background: transparent; /* or set to none if needed */
}

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #000000;
  scroll-behavior: smooth;
}

header {
  position: sticky;
  top: 0;
  z-index: 1000;
  backdrop-filter: blur(10px);
  height: 10vh;
  background: #ffffff26;
  opacity: 1;
  padding: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 22px;
  font-weight: bold;
  color: #343a40;
}

h1 {
  background: var(--background-gradient);
  background-clip: text;
  color: transparent;
  text-align: center;
  font-family: Poppins;
  margin-bottom: 10px;
  font-weight: 600;
  font-style: SemiBold;
  font-size: 80px;
  line-height: 95px;
  letter-spacing: -3%;
}

h2 {
  font-size: 4.5rem;
  font-weight: 600;
  text-align: center;
  background: var(--background-gradient);
  background-clip: text;
  color: transparent;
  margin-bottom: 2rem;
}

section {
  height: fit-content;
  min-height: 100vh;
}

.main-background {
  background-image: url(./assets/hero.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

@media screen and (max-width: 1200px) {
  h1 {
    font-size: 5.4rem;
    line-height: 7rem;
  }

  h2 {
    font-size: 2rem;
  }
}

@media screen and (max-width: 993px) {
  h1 {
    font-size: 4.6rem;
    line-height: 5.5rem;
  }
}

@media screen and (max-width: 768px) {
  h1 {
    font-size: 4.6rem;
    line-height: 4.5rem;
    margin: 5rem 0;
  }
}

@media screen and (max-width: 600px) {
  h1 {
    font-size: 4.5rem;
  }
}

@media screen and (max-width: 430px) {
  h1 {
    font-size: 3rem;
    line-height: 3rem;
    margin: 1rem auto;
  }

  h2 {
    font-size: 2.5rem;
  }
}
