:root {
  --primary-color: #12afef;
  --secondary-color: #7de130;
  --background-gradient: conic-gradient(
    from 30.84deg at 43.8% 43.68%,
    #7de130 0deg,
    #12afef 224.99deg,
    #7de130 360deg
  );
}

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
  box-sizing: border-box;
}

header {
  position: sticky;
  top: 0;
  z-index: 1000;
  background-color: black;
  padding: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 22px;
  font-weight: bold;
  color: #343a40;
}

h1 {
  background: var(--background-gradient);
  background-clip: text;
  color: transparent;
  text-align: center;
  font-family: Poppins;
  margin-bottom: 10px;
  font-weight: 600;
  font-style: SemiBold;
  font-size: 80px;
  line-height: 95px;
  letter-spacing: -3%;
}

.main-background {
  background-image: url(./assets/hero.jpg);
}
