.logoLogo {
  height: 5rem;
  width: 18rem;
  margin-top: 1rem;
  margin-left: 1rem;
}

.mobileNav {
  display: none;
  padding-right: 15px;
}

.hamburger {
  width: 40px;
  height: 30px;
  background: transparent; /* transparent background */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  cursor: pointer;
}

.hamburger span {
  display: block;
  height: 4px;
  border-radius: 2px;
  background: conic-gradient(
    from 30.84deg at 43.8% 43.68%,
    #7de130 0deg,
    #12afef 224.99deg,
    #7de130 360deg
  );
  transition: all 0.4s ease;
}

/* Animation into X */
.hamburger.active span:nth-child(1) {
  transform: translateY(13px) rotate(45deg);
}
.hamburger.active span:nth-child(2) {
  opacity: 0;
}
.hamburger.active span:nth-child(3) {
  transform: translateY(-13px) rotate(-45deg);
}

@media screen and (max-width: 1200px) {
  .logoLogo {
    width: 15rem;
    height: 4rem;
  }

  .mainNav {
    display: none;
  }

  .mobileNav {
    display: block;
  }
}

@media screen and (max-width: 430px) {
  .logoLogo {
    width: 10rem;
    height: 3rem;
    margin-left: 0.5rem;
  }
}

@media screen and (max-width: 280px) {
  .logoLogo {
    width: 6rem;
    height: 2.5rem;
    margin-left: 0.5rem;
  }

  .hamburger {
    width: 30px;
    height: 20px;
  }
}
