.page {
  min-height: 100vh;
}

.cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.pricingCardsContainer {
  display: flex;
  justify-content: center;
}

.note {
  font-size: 1.1rem;
  font-weight: 600;
  color: var(--secondary-color);

  padding: 2rem 4rem 2rem 4rem;
}

@media screen and (max-width: 800px) {
  .cards {
    gap: 1rem;
  }

  .note {
    text-align: start;
    font-size: 0.8rem;
  }

  /* .pricingCardsContainer {
    display: flex;
    justify-content: center;
    flex: 1;
  } */
}

@media screen and (max-width: 720px) {
  .cards {
    gap: 0.5rem;
  }
  .pricingCardsContainer {
    width: 48%;
  }
}

@media screen and (max-width: 600px) {
  .cards {
    gap: 2rem;
  }
  .pricingCardsContainer {
    width: 100%;
  }
}

@media screen and (max-width: 430px) {
  .cards {
    align-items: center;
  }
  .pricingCardsContainer {
    display: flex;
    justify-content: center;
  }
}
