.page {
  min-height: 100vh;
}

.cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 4rem;
}

.note {
  font-size: 1.1rem;
  font-weight: 600;
  color: var(--secondary-color);
  text-align: justify;
  padding: 1rem 4rem 2rem 4rem;
}

@media screen and (max-width: 430px) {
  .cards {
    align-items: center;
  }
  .pricingCardsContainer {
    display: flex;
    justify-content: center;
  }

  .note {
    font-size: 0.8rem;
  }
}
