.card {
  width: 180px;
  height: 180px;
  backdrop-filter: blur(4px);
  border-radius: 15px;
  background: #ffffff26;
  opacity: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 10px;
}

.imageContainer {
  width: auto;
  height: 80px;
}

.cardImage {
  width: 60px;
  height: 60px;
}

.textContainer {
  text-align: start;
  height: 40px;
}

.cardTitle {
  font-family: Inter;
  font-weight: 600;
  font-style: Semi Bold;
  font-size: 24px;
  text-align: center;
  color: #7de130;
  margin: 0;
}
